@import 'styles/base/Variables';

nav {
  height: 100%;
  border-right: 2px solid $black;
}

.category {
  font-size: 2.4vw;
  line-height: 1.6666666667;
  margin-top: 16px;

  &__item {
    font-family: $en-font;
    transition: color 0.2s ease-in-out;
    font-weight: 900;

    &.blue:hover {
      color: $blue;
    }

    &.pink:hover {
      color: $pink;
    }
  }
}

.category__mobile {
  display: none;
}

@media screen and (max-width: 980px) {
  nav {
    position: absolute;
    display: none;
    width: 100%;
    height: fit-content;
    border-right: none;
    border-bottom: 2px solid $black;
    z-index: 1;
    background-color: $white;
  }

  .category {
    margin-top: 0;
    &__list {
      height: 32px;
    }

    &__item {
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $black;
    }
  }

  .category__mobile {
    display: flex;
    align-items: center;
    height: 32px;
    border-bottom: 2px solid $black;
    font-size: 2.4vw;
    font-family: $en-font;
    font-weight: 900;

    .dropdown {
      height: 100%;
      margin-left: auto;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
