@import 'styles/base/Variables';

.Header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;
}

.navbar {
  height: 80%;
  display: flex;
  margin-left: auto;

  &__list {
    font-weight: 900;
    font-size: 2.4rem;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    a {
      font-family: $en-font;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &:nth-child(1).active,
    &:nth-child(1):hover {
      color: $yellow;
    }

    &:nth-child(2).active,
    &:nth-child(2):hover {
      color: $blue;
    }

    &:nth-child(3).active,
    &:nth-child(3):hover {
      color: $pink;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 980px) {
  .Header {
    height: 54px;

    a {
      position: relative;
      top: 5px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
