// point color
$blue: #009fe3;
$yellow: #ffe500;
$pink: #e6007e;
$en-font: 'roc-grotesk', sans-serif;

nav {
  height: 100%;
  border-right: 2px solid #000;
}

.category {
  font-size: 2.4vw;
  font-weight: 800;
  line-height: 4vw;
  margin-top: 16px;

  &__mobile {
    display: none;
  }

  &__item {
    transition: color 0.2s ease-in-out;

    &.blue:hover {
      color: $blue;
    }

    &.pink:hover {
      color: $pink;
    }
  }
}

@media screen and (max-width: 980px) {
  nav {
    border-right: none;
    border-bottom: 2px solid #000;
  }

  .category {
    margin-top: 0;

    &__mobile {
      display: block;
      height: 32px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid #000;
    }

    &__list {
      height: 32px;
    }

    &__item {
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #000;
    }
  }
}
