// point color
$blue: #009fe3;
$yellow: #ffe500;
$pink: #e6007e;
$en-font: 'Roc Grotesk', sans-serif;

.Header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;
}

.navbar {
  height: 80%;
  display: flex;
  margin-left: auto;

  &__hamburger {
    display: none;
  }

  &__list {
    font-family: $en-font;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &:nth-child(1).active,
    &:nth-child(1):hover {
      color: $yellow;
    }

    &:nth-child(2).active,
    &:nth-child(2):hover {
      color: $blue;
    }

    &:nth-child(3).active,
    &:nth-child(3):hover {
      color: $pink;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 980px) {
  .Header {
    height: 54px;

    a {
      position: relative;
      top: 5px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .navbar {
    align-items: center;
    position: relative;
    top: 5px;
    cursor: pointer;

    &__hamburger {
      display: block;
      width: 16px;
      height: 2px;
      background-color: #000;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 2px;
        background-color: #000;
        position: relative;
      }

      &:before {
        top: -5px;
      }

      &:after {
        top: 3px;
      }
    }

    &__list {
      // display: none;
    }
  }
}
