// point color
$blue: #009fe3;
$yellow: #ffe500;
$pink: #e6007e;
$en-font: 'roc-grotesk', sans-serif;

nav {
  height: 100%;
  border-right: 2px solid #000;
}

.category {
  font-size: 2.4vw;
  font-weight: 800;
  line-height: 4vw;
  margin-top: 16px;

  &__item {
    transition: color 0.2s ease-in-out;

    &.blue:hover {
      color: $blue;
    }

    &.pink:hover {
      color: $pink;
    }
  }
}
