* {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  padding: 0 50px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 980px) {
  body {
    padding: 0 20px;
  }
}
