/* autoprefixer grid: autoplace */
.scroll-area {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 980px) {
  .scroll-area {
    height: fit-content;
    overflow-y: visible;
  }
}
